asgiref==3.5.2
certifi==2022.6.15
distlib==0.3.4
Django==4.0.5
fastai==2.7.2
filelock==3.7.1
numpy==1.22.4
pandas==1.4.2
pipenv==2022.6.7
platformdirs==2.5.2
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
